<div class="container">
  <h1>All our flats</h1>
  <p>All our <%= @flats.count %> flats</p>
  <div class="cards">
    <% @flats.each do | flat | %>
      <div class="card">
        <%= link_to flat_path(flat), class:"text-decoration-none" do %>
          <%= image_tag("flat_interior.jpg", alt: "Flat interior", class: "image-preview") %>
        <% end %>
        <div class="card-title">
          <h4><%= flat.name %></h4>
          <p><%= flat.address %></p>
        </div>
        <div class="card-info">
          <div class = "card-info-value">
            <i class="fa-solid fa-people-group"></i>
            <p> <%= flat.number_of_guests %></p>
          </div>
          <div class = "card-info-value">
            <i class="fa-solid fa-euro-sign"></i>
            <p><%= flat.price_per_night %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
