<div>
  <h1><%= @flat.name %></h1>
  <p><%= @flat.address %></p>
</div>

<div>
  <h2>A bit more about this flat...</h2>
  <p><%= @flat.description %></p>
</div>

<div>
  <h3>Details</h3>
  <p><%= @flat.number_of_guests %> people</p>
  <p><%= @flat.price_per_night %> €</p>
</div>
